---
extension: css
filter:
  - erb
layout:    nil
sizes:
  :page_width: 960px
  :nav_width: 200
colors:
  :mitre_blue: '#eef3f8'
---


body {
  min-width: <%= @page.sizes[:page_width] %>;
  background-color: <%= @page.colors[:mitre_blue] %>;
}

#content {
  margin: 0 auto;
  width: <%= @page.sizes[:page_width] %>;
  background-color: white;
  overflow: hidden;
}

#nav {
  float: left;
  width: <%= @page.sizes[:nav_width] %>px;
  position: fixed;
  padding: 20px;
}

#page_content {
  margin-left: <%= @page.sizes[:nav_width] + 20 %>px;
  padding: 20px;
}