---
extension: css
filter:
  - erb
layout:    nil
sizes:
  :page_width: 960px
  :nav_width: 200
colors:
  :mitre_blue: '#003863'
  :heading: '#1C75BC'
---

/* Text Styles */

html, body {
  height: 100%;
}

#content {
  min-height: 100%;
}

body {
  min-width: <%= @page.sizes[:page_width] %>;
  background-color: white;
  font-family: "Ariel", "Lucida Grande", "Lucinda Sans Unicode", "Verdana", "sans-serif";
  font-size: 13px;
  text-align: justify;
}

#top {
  background: black url(/images/bg.jpg) no-repeat top center;
  height: 500px;
}

#slider {
  margin: 0 auto;
  width: 950px;
  height: 500px;
  position: relative;
}

#slider img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

#slider .nivo-controlNav {
  margin-left:-112px;
}

p {
  padding-bottom: 10px;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  color: <%= @page.colors[:heading] %>;
  padding-bottom: 20px;
}

h2 {
  font-size: 18px;
  color: <%= @page.colors[:heading] %>;
  padding-top: 15px;
  padding-bottom: 15px;
}

h3 {
  font-size: 15px;
  font-style: italic;
  color: <%= @page.colors[:heading] %>;
}

hr {
  margin-bottom: 30px;
}

/* List Styles */

ul {
  list-style-type: decimal;
  margin: 0px 30px;
}

ul ul {
  list-style-type: lower-latin;
  margin: 0px 30px;
}

ul ul ul {
  list-style-type: lower-roman;
  margin: 0px 30px;
}

ul li {
  margin-top: 10px;
}

ul ul li {
  margin: 3px 5px;
}

/* Image Styles */

.f_right {
  float: right;
  margin: 10px 0px 10px 15px;
}


/* IDs */

#content {
  margin: 0 auto;
  width: <%= @page.sizes[:page_width] %>;
  background-color: white;
  overflow: hidden;
}

#nav {
  background-image: url('../images/skier-in-the-fog.jpg');
  background-repeat: no-repeat;
  min-height: 750px;
  float: left;
  width: <%= @page.sizes[:nav_width] %>px;
  position: fixed;
  padding: 20px;
  list-style-type: none;
  margin: 0px;
}

#page_content {
  margin-left: <%= @page.sizes[:nav_width] + 40 %>px;
  margin-top: 50px;
  padding: 20px;
}

#logo {
  padding-bottom: 30px;
}